
.headerComponent .inner{
  background-color: #4cca4e;
  display: flex;
  justify-content: space-between;
  padding: 15px 35px;
  align-items: center;
}

.headerComponent .inner .main-image{
  display: flex;
  align-items: center;
  gap: 2px;
}

.headerComponent .inner a{
text-decoration: none;
}

.headerComponent .inner .main-image img{
width: 80px;
}

.headerComponent .inner .main-image h3{
  /* color: rgb(235, 235, 12); */
  color: #fff;
  font-size: 25px;
  width: 80px;
  line-height: 25px;
}

.headerComponent .inner .nav-links ul{
display: flex;
gap: 18px;
}

.headerComponent .inner .nav-links ul li{
  list-style-type: none;
  /* color: rgb(235, 235, 12); */
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.headerComponent .inner .nav-links ul a{
  text-decoration: none;
}

.headerComponent .inner .nav-btn button{
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 19px;
  background-color: #FC0D4E;
  color: #fff;
  border: solid 1px #d81046;
  cursor: pointer;
  transition: .4s ease;
}

.headerComponent .inner .nav-btn button:hover{
  background-color: #cf1143;
}

.headerComponent .inner .responsive-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  background: #f5f5f5;
    backdrop-filter: blur(12px);
    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.1);
}

.headerComponent .inner .menu-btn svg {
  width: 37px;
  cursor: pointer;
}

.headerComponent .inner .menu-btn{
  display: none;
}

.headerComponent .inner .responsive-menu .closing-svg{
  width: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.headerComponent .inner .sidebar-search{
  padding-top: 70px;
  display: flex;
  align-items: center;
}

.headerComponent .inner .sidebar-search .search-svg{
    height: 35px;
    cursor: pointer;
}

.headerComponent .inner .sidebar-search input{
  padding: 8px;
  border-radius: 8px 0 0 8px;
  border: solid 1px rgb(195, 190, 190);
  outline: none;
  border-right: none;
    background-color: #f0f0f0;
      border: 1px solid #4CAF50;
}

.headerComponent .inner .sidebar-search svg{
  border: solid 1px grey;
  padding: 8px;
  border-radius: 0 8px 8px 0;
  background-color: #4cca4e;
  border-left: none;
}

.headerComponent .inner .sidebar-links ul{
  display: flex;
  flex-direction: column;
  color: #000;
  gap: 17px;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.headerComponent .inner .sidebar-links ul li{
list-style-type: none;
font-size: 20px;
cursor: pointer;
}

.headerComponent .inner .sidebar-links ul a{
text-decoration: none;
color: #000;
}


.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  z-index: 998;
}

.responsive-menu {
  z-index: 999;
}

@media only screen and (max-width: 865px) {
.headerComponent .inner .menu-btn {
    display: flex;
  }

.headerComponent .inner .nav-links{
  display: none;
}

.headerComponent .inner .nav-btn{
  display: none;
}
}
