
*{
  margin: 0;
  padding: 0;
}

html{
  height: 100vh;
}

body {
  margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #e0f4ff;
    margin: auto;

}
